* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Pacifico', cursive;
    margin: 0 auto;
    padding: 0 0 0 20px;
    background-color: white;
    max-width: 1600px;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

a   {
    margin: 0 auto;
    background-color: aquamarine;
    display:flex;
    justify-content: center;
    align-items: center;
    width: 100px;
    height: 100px;
    font-size: 25px;
    color: rgb(23, 11, 197);
    text-decoration: none;
    border: 3px dotted #e74c3c;
    padding: 15px;
    border-radius: 50%;
}

.grid-konteineris {
    margin: 30px auto;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr 1fr;
    gap: 10px;
    width: 100%;
    max-width: 1200px;

    .grid-item {
        background-color: orange;
        display: flex;
        justify-content: center;
        align-items: center;
        color: white;
        font-weight: 700;
        font-size: 24px;
        border: 2px solid black;
        height: 150px;
    }

    .item-1 {
        grid-column: span 2;
        grid-row: span 2;
        height: 310px;
    }
    
    .item-2 {
        grid-column: 3;
        grid-row: 1;
    }

    .item-3 {
        grid-column: 4;
        grid-row: 1;
    }

    .item-4 {
        grid-column: 3;
        grid-row: 2;
    }

    .item-5 {
        grid-column: 4;
        grid-row: 2;
    }

    .item-6 {
        grid-column: span 2;
        grid-row: span 2;
        height: 310px;
    }

    .item-7 {
        grid-column: 1;
        grid-row: 3
    }

    .item-8 {
        grid-column: 2;
        grid-row: 3;
    }

    .item-9 {
        grid-column: 1;
        grid-row: 4;
    }

    .item-10 {
        grid-column: 2;
        grid-row: 4;
    }

}
