* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Pacifico', cursive;
    margin: 0 auto;
    padding: 0 0 0 20px;
    background-color: aquamarine;
    max-width: 1600px;
}

a   {
    margin: 0 auto;
    background-color: aquamarine;
    display:flex;
    justify-content: center;
    align-items: center;
    width: 100px;
    height: 100px;
    font-size: 25px;
    color: rgb(23, 11, 197);
    text-decoration: none;
    border: 3px dotted #e74c3c;
    padding: 15px;
    border-radius: 50%;
}

.container {
    padding: 20px;
    max-width: 1400px;
    display: flex;
    align-items: center;
    flex-direction: column;


    header {
        display: flex;
        justify-content: center;
        align-items: center;
        background-color: lightseagreen;
        max-width: 1400px;
        height: 50px;
        color: white; 
        text-align: center;
        width: 100%;
    }

    footer {
        display: flex;
        justify-content: center;
        align-items: center;
        background-color: lightseagreen;
        max-width: 1400px;
        height: 50px;
        color: white; 
        text-align: center;
        width: 100%;
    }

    .main-content {
        display: flex;
        padding: 20px 0 20px 0;
        gap: 20px;
        width: 100%;
        min-height: 80vh;

        aside, article {
            flex: 1;
        }

        aside {
            display: flex;
            justify-content: center;
            align-items: center;
            width: 100%;
            background-color: green;
            color: white;
            font-size: 30px;
        }

        article {
            display: flex;
            flex-direction: column;
            justify-content: flex-end;
            align-items: center;
            padding: 20px;
            background-color: orange;
            width: 100%;
            font-size: 30px;
            color: white;

            p {
                margin-bottom: 100px;
            }

            .images {
                display: flex;
                justify-content: space-between;
                align-items: center;
                width: 100%;
                height: 200px;

                .img {
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    width: 30%;
                    height: 100%;
                    background-color: orangered;
                    object-fit: contain;
                    max-width: 100%;
                }
            }
        }
    }
}

@media (max-width: 1024px) {
    .main-content {
        flex-direction: column;
        gap: 10px;
    }

    aside {
        width: 100%; 
        height: auto;
    }

    article {
        width: 100%;
    }

    .images {
        flex-direction: column;
        gap: 20px;
    }

    .img {
        max-width: 100%; 
        height: auto;
        object-fit: scale-down;
    }
}


@media (max-width: 768px) {
    header, footer {
        height: 40px; 
    }

    body {
        font-size: 16px;
    }

    .main-content {
        padding: 10px;
    }

    aside {
        font-size: 20px; 
    }

    .images {
        flex-direction: column;
        gap: 10px;
    }

    .img {
        width: 100%; 
        height: auto;
        object-fit: scale-down;
    }
}